<div class="row">
  <div class="col-lg-12">
    <h1>顧客詳細</h1>
    <dl>
      <dt>お名前</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.full_name %></dd>
      <dt>電子メール</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.email %></dd>
    </dl>
    <%= link_to '編集', edit_user_path(@user), class: "btn btn-default" %>
    <%= link_to '戻る', users_path, class: "btn btn-default" %>
  </div>
</div>
